.row
  .large-12.columns
    #course-details
      %h3= @course.name
      %p= @course.description
    %h4 Listing topics

    %table.table
      %tr
        %th Name
        %th Description
        


      - @topics.each do |topic|
        %tr
          %td= link_to topic.name, [@course, topic]
          %td= strip_tags(topic.description)[0,120]
    .linkgoback
      =link_to 'Back', 'javascript:goBack()'

