.row
  .large-12.columns
    %h1 List of Courses

    %table.table
      %tr
        %th Name
        %th Description
        %th View


      - @courses.each do |course|
        %tr
          %td= course.name
          %td= course.description
          %td= link_to 'Show', course_topics_path(course)
    .paginate-block
      = paginate @courses