/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  background: none repeat scroll 0 0 white;
  color: #222222;
  cursor: default;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
}
.container-center{
	margin:0 auto;
	width:80%;
}
.slide-left{
	list-style:none;
	padding: 0;
	margin:0;
}
.slide-left .heading{
	font-weight: bold;
	font-size: 15px;
}
.slide-left .sub-heading{
	
}
.slide-left-block {
  background: none repeat scroll 0 0 #f8f8f8;
  float: left;
  width: 250px;
  border:1px solid #e7e7e7;
}
.slide-right-block{
  border:1px solid #e7e7e7;
  
}
.slide-left .menuitem{
	display: block;
	padding: 10px 15px;	
}
.slide-left .menuitem:focus,.slide-left .menuitem:hover,.slide-left .menuitem.active{
	background: #eee;
	text-decoration:none;
}
.heading .menuitem{
	color: #000;
	text-decoration:none;
	cursor:default;
}
.sub-heading .menuitem {
	font-size:14px;
	line-height:1.42857;
}
.slider-head{
	padding-left:3%;
}
.slide-left li{
border-bottom: 1px solid #e7e7e7;
}
.slide-right-block{
	width:55%;
	float:left;
}
label.label-text {
    float:left;
    font-weight: bold;
}
label.value-text{
    float:left;
    margin-left: 10px;
    font-weight: normal;
}
label.edit-link{
     float:left;
     margin-left: 12px;
 }
h3.page-title{
    float:left;
}
.visitor_navigation {
  background-color: #ccb356;
  padding: 10px 0;
}
.container-full {
  margin: 0 auto;
  width: 100%;
  padding:0;
}
.thick {
  font-weight: 700;
}
.large-6 {
  width: 40%;
}
.column, .columns, .column, .form-centered, main {
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  position: relative;
}
[class*="column"] + [class*="column"]:last-child {
  float: right;
}

.visitor_navigation a {
  color: white !important;
}
.section{
	margin: 0 auto;
	max-width: 62.5rem;
	width: 100%;
}
.right {
  float: right !important;
}
.visitor-links {
  padding-top: 15px;
}
.visitor-button {
  margin-left: 30px;
}
.vis-title {
  font-size: 40px;
}
.hero {
  background: url(asset-path("site/background.jpg")) no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  height: 550px;
  padding: 250px 0 30px;
}
.authform form {
  background: none repeat scroll 0 0 #f2f2f2;
  border-color: #d8d8d8;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 1.25rem;
  padding: 1.25rem 1.25rem 60px;
}
.authform {
  margin: 0 auto;
  max-width: 320px;
  padding-top: 30px;
}
button, .button, .submit, .button-xs {
  background-color: #008cba;
  border-color: #007095;
  border-style: solid;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  padding: 1rem 2rem 1.0625rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms ease-out 0s;
}
.visitor_navigation a{
text-decoration:none;
}
.hero2 {
  background-color: #ccb356;
  padding: 30px 0 25px;
}
.hero3 {
  margin: 40px 0;
}
.hero-title a {
  color: #fff;
}
.large-4 {
  width: 30.3333%;
}
.card {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  line-height: 25px;
  margin-bottom: 20px;
  padding: 20px 15px;
}
.card-title {
  color: #3a6d98;
}
.card-sub-title {
  color: #ed1c24;
}
.large-offset-7 {
  margin-left: 58.3333% !important;
}
.title {
  font-size: 40px;
}
.hero .sub-title {
  margin: 15px 0 30px;
}
.hero-title {
  color: #fff;
}
.findcourse{
}
.prefix, .postfix {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.postfix.button, .postfix.submit, .postfix.button-xs {
  border: medium none;
  line-height: 2.125rem;
  padding: 0;
  text-align: center;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
  width: 100%;
}
.small-10 {
  width: 83.3333%;
  padding:0;
}
.small-2 {
  width: 16.6667%;
  padding:0;
}
.container-center.full-width {
  width: 100%;
}
.top-bar .title-area {
  float: left;
}
.top-bar ul li{
list-style: none;
	
}
.title-area.vis-title.thick {
  font-size: 27px;
}
.top-bar-section ul {
  display: block;
  font-size: 16px;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}
.top-bar-section ul li {
  float: left;
}
.top-bar-section ul {
  display: inline;
  height: auto !important;
  width: auto;
}
.top-bar-section {
  left: 0;
  position: relative;
  transition: left 300ms ease-out 0s;
  width: auto;
}
.top-bar {
  height: 44px;
  padding:0;
}
.top-bar-section a{
float:left;
}
.top-bar-section ul li:hover:not(.has-form) > a {
  background: none repeat scroll 0 0 #272727;
  color: white;
}
.top-bar-section li:not(.has-form) a:not(.button) {
 
  line-height: 45px;
  padding: 0 15px;
}
.title-h4{
	float:left;
	width:100%;
}
.mce-container{
	margin-top:20px;
}
.back-arrow {
  float: left;
  margin-top: 8px;
  padding-left: 8px;
  padding-right: 11px;
}
.vis-title{
	width:50px;
}

ul.right li {
  float: left;
  list-style: outside none none;
  width: 75px;
}
.visitor-nav{
	 width: 75%;
}